<h2>Posts#show</h2>
<hr>
<p><%= @post.title %></p>
<p><%= @post.user.email %></p>
<p></p><%= @post.created_at %></p>
<p><%= @post.content %></p>
<p><%= link_to '돌아가기', :posts %></p>
<p><%= link_to '수정하기', edit_post_path(@post) %></p>
